// Преднастройка проекта =====================================================================================================================================================
@use "sass:math";

$root-font-size: 16;

@function rem($size) {
    @return $size / $root-font-size * 1rem;
}

@function em($pixels, $context: $root-font-size) {
    @return #{$pixels/$context}em;
}

// Миксины ===================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов =======================================================================================================================================================
// &display=swap
@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap");

// Шрифт по умолчанию ========================================================================================================================================================
$fontFamily: "Heebo";
$fontWeight: 500;
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию
$bodycolor: #FFFF;

// НАСТРОЙКИ =================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничений)
$maxWidthContainer: 1170;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа
$containerPadding: 30;

// Типы адаптива
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 2;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейкпоинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Обнуление и общие параметры ===============================================================================================================================================
@import "base/null";

// Оболочка ==================================================================================================================================================================
.wrapper {width: 100%;min-height: 100%;overflow: hidden;}

// Ограничивающий контейнер ==================================================================================================================================================
@if ($responsiveType==1) {
    // Отзывчивая
    .container {
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
            margin: 0 auto;
        }
        @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }
} @else {
    // По брейк-поинтам
    .container {
        margin: 0 auto;
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        } @else {
            @if ($containerPadding>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
        @media (max-width: $pc) {
            max-width: rem(970);
        }
        @media (max-width: $tablet) {
            max-width: rem(750);
        }
        @media (max-width: $mobile) {
            max-width: none;
            @if ($containerPadding>0 and $maxWidthContainer>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
}

// Подключение стилей отдельных блоков
@import "header";
// @import "footer";