header {
  padding: 33px;
  margin-bottom: 90px;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1176px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
header .container .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .container .header__menu .header__link {
  font-weight: 500;
  font-size: 20px;
  margin-left: 35px;
  color: #000000;
  position: relative;
}
header .container .header__menu .header__link.active {
  color: #FF6464;
}
header .container .header__menu .header__link.active::before {
  background-color: #FF6464;
}
header .container .header__menu .header__link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}
header .container .header__menu .header__link::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  left: 0;
  bottom: -1px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}